<a href="https://colab.research.google.com/github/kmouleejunhyuk/titanic_review/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##캐글의 타이타닉 분석 리뷰
#정확도 100%의 모델
#원본: https://www.kaggle.com/imoore/titanic-the-only-notebook-you-need-to-see
#추가로, 다층 FCNN 모델+kfold 구현 연습

In [2]:
#환경
#google colab, pytorch

In [3]:
#구글 드라이브 마운트 & 경로설정
#마운트하기 전, 구글 드라이브의 titanic 폴더에 타이타닉 csv를 업로드해야 합니다
#kaggle 가입 후 데이터를 받을 수 있습니다

from google.colab import drive
drive.mount('/gdrive')

PATH='/gdrive/My Drive/titanic'

Mounted at /gdrive

라이브러리 로드

In [5]:
import pandas as pd
import numpy as np
import re
import os

import sklearn
import xgboost as xgb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

import torch

데이터 로드

In [18]:
full = pd.read_csv(os.path.join(PATH, 'titanic.csv'))

train = full.loc[:int(full.shape[0]*0.8)].copy()
test = full.loc[int(full.shape[0]*0.8):].copy().reset_index(drop=True)

In [19]:
print(train.head())
print(test.head())

print(train.columns)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0          892         0       3  ...   7.8292   NaN         Q
1          893         1       3  ...   7.0000   NaN         S
2          894         0       2  ...   9.6875   NaN         Q
3          895         0       3  ...   8.6625   NaN         S
4          896         1       3  ...  12.2875   NaN         S

[5 rows x 12 columns]
   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0         1226         0       3  ...   7.8958   NaN         S
1         1227         0       1  ...  26.0000  C106         S
2         1228         0       2  ...  13.0000   NaN         S
3         1229         0       3  ...   7.2292   NaN         C
4         1230         0       2  ...  31.5000   NaN         S

[5 rows x 12 columns]
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

데이터에 ticket_type라는 변수 추가

In [21]:
train['Ticket_type']=train['Ticket'].apply(lambda x: x[0:3])
train['Ticket_type']=train['Ticket_type'].astype('category')
train['Ticket_type']=train['Ticket_type'].cat.codes

train.head(3)

   PassengerId  Survived  Pclass  ... Cabin Embarked  Ticket_type
0          892         0       3  ...   NaN        Q           54
1          893         1       3  ...   NaN        S           67
2          894         0       2  ...   NaN        Q           30

[3 rows x 13 columns]